.container{
  margin: 0 auto;
  max-width: 500px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.title{
  font-weight: bold;
  font-size: 48px;
  color: #90ee90;
}
.line{
  margin: 50px 0;
  color: #90ee90;
}